

<ion-content [fullscreen]="true" class="colorFondo">
  <div class="fondo-image">
  <ion-grid class="color-subtitulos">
    <ion-row>
      <ion-col>
        <h3 >Peliculas nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
<app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>
<ion-grid class="color-subtitulos">
  <ion-row>
    <ion-col>
      <h3 >Cartelera</h3>
    </ion-col>
  </ion-row>
</ion-grid>
<app-slidesshow-poster [peliculas]="peliculasRecientes"></app-slidesshow-poster>

<ion-grid class="color-subtitulos">
  <ion-row>
    <ion-col>
      <h3>Populares</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<app-slidesshow-pares [peliculas]="populares" (cargarMas)="cargarMas()"></app-slidesshow-pares>
</div>
</ion-content>
